.slide-container{
    
    width: 100%;
    padding: 40px 0;
    height: 75vh;
    margin-bottom: 15vh;
    margin-top: 10vh;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
    
  }
  .card{
   
    background-color: #FFF;
    
    
    
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
 
  
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
    height: 35vh;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
   
   
  }
 
 
  
  .name{
    font-size: 18px;
    font-weight: 500;
   color: black;
  }
  .description{
    font-size: 14px;
   color: black;
    text-align: center;
  }
  .button{
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
    
    transition: all 0.3s ease;
  }
  .button:hover{
    opacity: 0.8;
  }
  
  .swiper-navBtn{
    color: #108b5e  !important;
    transition: color 0.3s ease;
   
  }
  .swiper-navBtn:hover{
    opacity: 0.8;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #04AA6D;
    opacity: 1;
    margin: 10px;
  }
  .swiper-pagination-bullet-active{
    background-color: #04AA6D;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }

  .o1 {
    background-image: url(https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
  }

  .o2 {
    background-image: url(https://images.pexels.com/photos/262048/pexels-photo-262048.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
  }

  .o3 {
    background-image: url(https://images.pexels.com/photos/271624/pexels-photo-271624.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
  }

  .o4 {
    background-image: url(https://images.pexels.com/photos/172872/pexels-photo-172872.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size: cover;
}

.o5 {
    background-image: url(https://images.pexels.com/photos/2029722/pexels-photo-2029722.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
}

.o6 {
    background-image: url(https://images.pexels.com/photos/3688261/pexels-photo-3688261.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
}

.o7{
    background-image: url(https://images.pexels.com/photos/271643/pexels-photo-271643.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
}

.o8{
    background-image: url(https://images.pexels.com/photos/279746/pexels-photo-279746.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
}

.o9{
    background-image: url(https://images.pexels.com/photos/1743231/pexels-photo-1743231.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
}
  